<div class="mat-elevation-z8" *ngIf="active">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="birthYear">
        <th mat-header-cell *matHeaderCellDef> Birth Year </th>
        <td mat-cell *matCellDef="let element"> {{element.birthYear}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="mass">
        <th mat-header-cell *matHeaderCellDef> Mass </th>
        <td mat-cell *matCellDef="let element"> {{element.mass}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="height">
        <th mat-header-cell *matHeaderCellDef> Height </th>
        <td mat-cell *matCellDef="let element"> {{element.height}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="eyeColor">
        <th mat-header-cell *matHeaderCellDef> Eye Color </th>
        <td mat-cell *matCellDef="let element"> {{element.eyeColor}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="hairColor">
        <th mat-header-cell *matHeaderCellDef> Hair Color </th>
        <td mat-cell *matCellDef="let element"> {{element.hairColor}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="select people table">
    </mat-paginator>
  </div>
  
  <mat-spinner *ngIf="!active"></mat-spinner>
