<div class="flex">
    <form class="example-form" [formGroup]="form">
      <div class="w-span">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Search</mat-label>
          <input type="text" matInput placeholder="Search" formControlName="search" (keyup)="searchForm()">
        </mat-form-field>
      </div>
    </form>
  <div class="row" *ngIf="active">
    <div class="col">
      <h2>People</h2>
      <mat-list>
        <mat-list-item *ngFor="let person of searchData?.peopleResults"> {{person.name}} </mat-list-item>
      </mat-list>
    </div>
    <div class="col">
      <h2>Categories</h2>
      <mat-list>
        <mat-list-item *ngFor="let cat of searchData?.categoriesResults"> {{cat}} </mat-list-item>
      </mat-list>
    </div>
  </div>
  <mat-spinner *ngIf='!active && searching'></mat-spinner>
</div>

