<div *ngIf="active">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput  (change)="searchForm($event)">
    </mat-form-field>
  <div class="row">
    <div class="col">
      <mat-list>
        <mat-list-item> People </mat-list-item>
  
        <mat-list-item *ngIf="let pep of searchData.people"> {{pep}} </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
      </mat-list>
    </div>
    <div class="col">
      <mat-list>
        <mat-list-item> Pepper </mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

