h3{
    color: #1976d2;
    font-size: 2.5rem;
    text-align: center;
}
p {
  font-size: 1.5rem;
  line-height: 1.2;

}

.card-body {
    box-sizing: border-box;
    width: 80vw;
    height: 60vw;
    background: #1976d2;
    padding: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 20% 0 30% 0;
   
}
@media screen and (min-width:768px) {
  .card-body {
    width: 22vw;
    height: 16vw;
  }
}
.card {
  transition: all 400ms ease;
  cursor: pointer;
}
.card:hover {
  transform: translate(3vw,-1.5vh);
}
.card:hover ~ h3 {
  translate: (0,-2.5vh);
  color: red

}
.grid {
  display:grid;
  place-items: center;
  height: calc(100vh - 40px);
}
